body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width:991px){
  img{
    height:250px;
  }
  
  /* .cards{
    flex-flow:column;
  } */
}

@media (max-width:470px){
  .cards{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .fkXaIO{
    width:50%;
  }
}